.sidebar>.nav > li > a {
position: relative;
display: block;
padding: 0.83em 0.95em;
line-height: 2;
font-family: 'Gudea', sans-serif;
font-weight:700;
font-size:18px;
color:#76a7c0;
}
img.bg {
min-height: 100%;
min-width: 640px;
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;
z-index: -2;
}
.task {
background:#fff; color:#000; margin:4px 4px 0px 4px;
}
    .task:hover {
    background:#fbfbfb;
    }

a:hover{
text-decoration:none;
}
.project-header {
border-bottom:solid 1px #008fbe !important;
}
.sidebar {
position: fixed;
top: 51px;
bottom: 0;
left: 0;
z-index: 1000;
display: block;
*padding: 20px;
overflow-x: hidden;
overflow-y: auto;
*background-color: #f5f5f5;
*border-right: 1px solid #fff;
}
.sidebar-pro {
*position: fixed;
*top: 51px;
bottom: 0;
left: 0;
z-index: 1000;
display: block;
*padding: 20px;
overflow-x: hidden;
overflow-y: auto;
*background-color: #f5f5f5;
border-right: 1px solid #fff;
}

.nav-sidebar {
margin-right: -21px;
margin-bottom: 20px;
margin-left: -20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff !important;
  background-color: #76a7c0;
}

.main {
padding-right: 40px;
padding-left: 40px;
}

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: px 0;
font-size: 20px;
  line-height: 1.42;
  border-radius: 25px;
}

.btn-bee {
  color: #fff;
  background-color: #fdba13;
  border-color: #f6b512;
}
.btn-bee:hover,
.btn-bee:focus,
.btn-bee:active,
.btn-bee.active,
.open > .dropdown-toggle.btn-bee {
  color: #fff;
  background-color: #f6b512;
  border-color: #f6b512;
}

h3, h4 {
font-family: 'Gudea', sans-serif;
font-weight:700;
}
img.bg {
min-height: 100%;
min-width: 640px;
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;
z-index: -2;
}

.navbar-custom {
	background-color: #4388ab;
	border-color: #337190;
    border-radius:0px;
}
.navbar-custom .navbar-brand {
	color: #ecf0f1;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
	color: #dedcfe;
}
.navbar-custom .navbar-text {
	color: #ecf0f1;
}
.navbar-custom .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
	color: #dedcfe;
    background-color:#337190 !important;
}
.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
	color: #dedcfe;
	background-color: #337190;
}
.navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
	color: #dedcfe;
	background-color: #337190 !important;
}
.navbar-custom .navbar-toggle {
	border-color: #337190;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
	background-color: #337190;
}
.navbar-custom .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
	border-color: #ecf0f1;
}
.navbar-custom .navbar-link {
	color: #ecf0f1;
}
.navbar-custom .navbar-link:hover {
	color: #387b9c;
}

@media (max-width: 767px) {
	.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #dedcfe;
	}
	.navbar-custom .navbar-nav .open .dropdown-menu > .active > a, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #dedcfe;
		background-color: #337190;
	}
}
.well-project {
background:#026fa8;
color:#fff;
margin-bottom:0px;
height:200px;
border-radius:0px;
border:0px;
}
    .well-project a {
    color:white !important;
    }