<div menu-bar></div>
<div ng-repeat="pro in SingleProiect" style="margin-top:50px;">
    <div project-menu></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Basic informations</h3>
                <div class="form-group">
                    <input class="form-control" ng-model="pro.nume_proiect" />
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="4" ng-model="pro.descriere">
                       
                    </textarea>
                </div>
                <div align="right"><button class="btn btn-primary btn-sm">Update Informations</button></div>
                <p><b>Project Manager:</b></p>
                <div class="well">
                    <img src="img/default_user.png" style="height:20px; width:20px;" /> {{pro.nume_user}} {{pro.prenume_user}} 
                    <div style="float:right">
                        <button class="btn btn-primary btn-xs">Change Project Manager</button>
                    </div>
                </div>
                <p><b>Project Activities:</b></p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Acivity Name</th>
                            <th>Manager</th>
                            <th style="text-align:right;">Edit/Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="activity in activities">
                            <td>{{activity.nume_activitate}}</td>
                            <td><small ng-show="activity.id_user_manager_activitate==-1">No Manager</small></td>
                            <td align="right">
                                <button class="btn btn-link btn-xs">Edit</button>
                                <button class="btn btn-link btn-xs">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <h3>Security Options</h3>
                <div class="well well-sm">
                    <b>Only project manager could add members</b>
                    <div style="float:right">
                        <button class="btn btn-primary btn-xs">Yes</button>
                        <button class="btn btn-primary btn-xs">No</button>
                    </div>
                </div>
            </div>
        </div>
            
        

    </div>
    </div>
