<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" style="margin-top:30px;">

    <div class="row">
        <div style="background:#4388ab; color:#fff; padding:20px;">
            <h3 style="margin:0px;">Projects  
            </h3>
        </div>
    </div>
    
    <div>
    </div>
    <div class="row" style="background:#76a7c0;">
        <div class="col-sm-6 col-md-4" style="padding:0px;">
            <div class="well well-project" align="center">
                <h2>ADD NEW PROJECT</h2>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#NewProjectModal" style="border-radius:0px;">
                <span class="glyphicon glyphicon-plus"></span> Add Project</button>
            </div>
        </div>
        <div class="col-sm-6 col-md-4" ng-repeat="proiect in proiecte" id="proiect_{{proiect.ID_proiect}}" style="padding:0px;">
            <div class="well well-project" style="cursor:pointer;" ng-click="goToProject(proiect.ID_proiect)">
                <a ng-href="#/admin/project/{{proiect.ID_proiect}}" ng-click="goToProject(proiect.ID_proiect)">
                    <h3 style="margin-top:0px;">{{proiect.nume_proiect}}</h3>
                    <h4 style="color:#bacbd3;">Ends in {{DaysRemaining(proiect.start_date,proiect.end_date)}} days</h4>
                </a>
                <!--<small>Project Manager: <img src="img/default_user.png" style="height:20px; width:20px;" /> <a href="#/admin/profile/{{proiect.id_user_project_manager}}">{{proiect.nume_user}} {{proiect.prenume_user}}</a></small>
        <hr style="margin:5px;" />-->
                <div style="position:absolute; bottom:0px; right:0;">

                    <div class="pull-right">
                        <a href="#" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-edit"></span></a>
                        <a class="btn btn-link btn-sm" ng-click="removeProject(proiect.ID_proiect)"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade " id="NewProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Project</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Project Name:</label>
                        <input class="form-control" placeholder="Project name..." ng-model="newProject.name" />
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <textarea class="form-control" rows="3" placeholder="Description..." ng-model="newProject.description"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Start Date:</label>
                            <p class="input-group">
                                <input type="text" placeholder="Start Date" class="form-control" readonly datepicker-popup="{{format}}" ng-model="newProject.StartDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <a class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></a>
                                </span>
                            </p>
                        </div>

                        <div class="col-md-6">
                            <label>End Date:</label>
                            <p class="input-group">
                                <input type="text" placeholder="End Date" class="form-control" readonly datepicker-popup="{{format}}" ng-model="newProject.EndDate" is-open="opened2" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <a class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></a>
                                </span>
                            </p>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Choose a Project Manager</label>
                            <select class="form-control" ng-model="newProject.ProjectManager">
                                <option ng-repeat="member in members" value="{{member.id}}">{{member.nume_user}}</option>
                            </select>
                        </div>
                        <input type="hidden" ng-init="newProject.TeamID='{{TeamID_root}}'" value="{{TeamID_root}}" ng-model="newProject.TeamID">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="addProject(newProject)">New Project</button>
                </div>
            </form>
        </div>
    </div>
</div>