
<!--div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="margin-top:70px;">
    <div class="row">
        <div class="col-sm-4">
        	<button style="width:100%" type="button" class="btn btn-bee"><i class="fa fa-tasks"> Add Meetings</i></button>
        </div>
        
          <div class="col-sm-4">
        	<button style="width:100%" type="button" class="btn btn-info"><i class="fa fa-tasks"> Invite Attendees</i></button>
        </div>
        
          <div class="col-sm-4">
        	<button style="width:100%" type="button" class="btn btn-bee"><i class="fa fa-tasks"> Schedule Meetings</i></button>
        </div>
        
        
    </div>
</div-->

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" style="margin-top:50px;">

    <div class="row">
        <div style="background:#4388ab; color:#fff; padding:20px;">
            <h3 style="margin:0px;">Meetings</h3>
        </div>
    </div>
    
    <div>
    </div>
    <div class="row" >
        <div class="col-sm-6 col-md-4" style="padding:0px;">
            <div class="well well-project" align="center">
                <h2>ADD NEW MEETING</h2>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addMeetingModal"><span class="glyphicon glyphicon-plus"></span> Add Meetings</button>
            </div>
        </div>
        <div class="col-sm-6 col-md-4" style="padding:0px;">
            <div class="well-project well" align="center" style="background: #eee;">
                <h2 style="color: #026fa8;">INVITE NEW ATTENDEES</h2>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addAttendeeModal"><span class="glyphicon glyphicon-plus"></span> Invite Attendees</button>
            </div>
        </div>
         <div class="col-sm-6 col-md-4" style="padding:0px;">
            <div class="well well-project" align="center" style="background: #fdba13;">
                <h2>SCHEDULE NEW MEETINGS</h2>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#scheduleMeetingModal"><span class="glyphicon glyphicon-plus"></span> Schedule Meetings</button>
            </div>
        </div>

</div>