<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="margin-top:70px;">
    <div class="row">
        <div class="col-sm-4">
        <!--a href="#"><i class="fa fa-tasks" style="color: blue;"></i> Adaugă meeting</a-->
        	<button style="width:100%" type="button" class="btn btn-bee"><i class="fa fa-tasks"> Add Meetings</i></button>
        </div>
        
          <div class="col-sm-4">
        <!--a href="#"><i class="fa fa-tasks" style="color: blue;"></i> Adaugă meeting</a-->
        	<button style="width:100%" type="button" class="btn btn-info"><i class="fa fa-tasks"> Invite Attendees</i></button>
        </div>
        
          <div class="col-sm-4">
        <!--a href="#"><i class="fa fa-tasks" style="color: blue;"></i> Adaugă meeting</a-->
        	<button style="width:100%" type="button" class="btn btn-bee"><i class="fa fa-tasks"> Schedule Meetings</i></button>
        </div>
        
        
    </div>
</div>