<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="margin-top:70px;">
    
    <h3 style="margin-top:0px;">Members <span><a href="#" class="btn btn-bee btn-sm"><span class="glyphicon glyphicon-plus"></span> Add New Member</a></span></h3>
    <hr />
    <table class="table table-hover table-condensed table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nume</th>
                <th>Prenume</th>
                <th>e-mail</th>
                <th>edit</th>
                <th>sterge</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="membru in members">
                <td>{{membru.ID}}</td>
                <td>{{membru.nume_user}}</td>
                <td>{{membru.prenume_user}}</td>
                <td>{{membru.email}}</td>
                <td><a href="#" class="btn btn-link btn-sm">Edit</a></td>
                <td><a href="#" class="btn btn-link btn-sm">Sterge</a></td>

            </tr>
        </tbody>
    </table>
</div>