<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="margin-top:70px;">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div>

                    <h4 style="margin-top:0px;" class="modal-title" id="myModalLabel">Add New Member</h4>
                    <hr />
                </div>
                <div>
                    <div class="col-lg-12" style="padding-left: 0px; margin-left: 0px; padding: 0px;">
                        <div class="form-group col-lg-6" style="padding-left:0px;">

                            <input class="form-control input-sm" placeholder="Nume..." ng-model="newMember.nume" />
                        </div>
                        <div class="form-group col-lg-6" style="padding: 0px; margin: 0px;">

                            <input class="form-control input-sm" placeholder="Prenume..." ng-model="newMember.prenume" />
                        </div>
                    </div>
                    <div class="col-lg-12" style="padding-left: 0px; margin-left: 0px; padding: 0px;">
                        <div class="form-group col-lg-6" style="padding-left:0px;">

                            <input class="form-control input-sm" placeholder="E-mail..." ng-model="newMember.email" />
                        </div>
                        <div class="form-group col-lg-6" style="padding: 0px; margin: 0px;">

                            <input class="form-control input-sm" placeholder="Numar de telefon..." ng-model="newMember.tel" />
                        </div>
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control input-sm" ng-model="newMember.pass" placeholder="Parola">
                    </div>
                    <div class="form-group">
                        <label>Select Department</label>
                        <select class="form-control" ng-model="newMember.dep">
                            <option ng-repeat="d in all_dep" value="{{d.ID}}">{{d.nume_departament}}</option>
                        </select>
                        <input type="hidden" ng-init="newMember.TeamID='{{TeamID_root}}'" value="{{TeamID_root}}" ng-model="newMember.TeamID">
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-bee" ng-click="addMember(newMember)" style="width:100%;">Add Member</button>
                </div>
            </form>

            <form>
                <div class="page-header">

                    <h4 style="margin-top:0px;" class="modal-title" id="myModalLabel">Add New Departament</h4>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">

                            <input class="form-control input-sm" placeholder="Nume departament..." ng-model="dep.name" />
                            <input type="hidden" ng-init="dep.TeamID='{{TeamID_root}}'" value="{{TeamID_root}}" ng-model="dep.TeamID">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-bee btn-sm" ng-click="addDepartment(dep)" style="width:100%;">New</button>
                    </div>
                </div>
            </form>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Departamente</h3>
                </div>
                <div class="panel-body" style="padding:0px;">
                    <table class="table table-hover table-condensed table-striped">

                        <tr ng-repeat="d in all_dep">
                            <td><button class="btn btn-link btn-xs" ng-click="chooseDep(d.nume_departament)">{{d.nume_departament}}</button></td>
                            <td align="right"><button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-4"><h4 style="margin-top:0px;">Members</h4></div>
                <div class="col-sm-8"><input class="form-control input-sm" ng-model="searchText" placeholder="Search..." /></div>
            </div>

            <table class="table table-hover table-condensed table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nume si Prenume</th>
                        <th>Departament</th>
                        <th>e-mail</th>
                        <th>Telefon</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="membru in members | filter:searchText">
                        <td>{{membru.id}}</td>
                        <td>{{membru.nume_user}} {{membru.prenume_user}}</td>
                        <td>{{membru.nume_departament}}</td>
                        <td>{{membru.email}}</td>
                        <td>{{membru.tel}}</td>
                        <td align="right"><a href="#" class="btn btn-bee btn-xs">Edit</a> <a href="#" class="btn btn-danger btn-xs">Sterge</a></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--h3 style="margin-top:0px;">Members <span><a href="#" class="btn btn-bee btn-sm"><span class="glyphicon glyphicon-plus"></span> Add New Member</a></span></h3-->


</div>
