<div class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>



        </div>
        <div class="navbar-collapse collapse row">
            <div class="col-xs-2">
                <a class="navbar-brand" href="#/admin" style="padding-top:5px; padding-left:0px;"><img src="img/logo_default.png" height="40" /></a>
                
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation" class="dropdown">
                    <a href="" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">
                    Hello {{LoggedUserJson.nume_user}} {{LoggedUserJson.prenume_user}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span> View Public Profile</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Profile</a></li>
                        <li><a href="" ng-click="logout()" style="color:red;"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout</a></li>
                    </ul>
                </li>
                
            </ul>

           
            <ul class="nav navbar-nav">
                <li>
                    <div style="width:500px;">
                        <form class="navbar-form">
                            <input type="text" class="form-control" placeholder="Search..." style="width:100%;background:#eee; color:#dee6eb; border:none; border-radius:0px;">

                        </form>
                    </div>
                </li>
                

                <li id="notification_li">
                    <a onclick="showNotification()" id="notificationLink">
                        <span class="glyphicon glyphicon-globe"></span> What's New
                        
                    </a>
                    <div id="notificationContainer">
						<div id="notificationTitle">Notifications</div>
						<div id="notificationsBody" class="notifications"></div>
						<div id="notificationFooter"><a href="#">See All</a></div>
					</div>
                    
                </li>
            </ul>
        </div>
    </div>
</div>




