<div class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>



        </div>
        <div class="navbar-collapse collapse row">
            <div class="col-xs-2">
                <a class="navbar-brand" href="#/admin" style="padding-top:5px; padding-left:0px;"><img src="img/logo_default.png" height="40" /></a>
                
            </div>
            <div class="navbar-right" style="margin-top:7px;">
                
                
                <a href="#" class="btn btn-danger" style="border-radius:0px;" ng-click="logout()"><span class="glyphicon glyphicon-off"></span></a>
                
                <ul class="nav nav-pills nav-stacked"></ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>

                <li>
                    <a href="#">
                        <span class="badge pull-right">0</span>
                        <span class="glyphicon glyphicon-bell"></span>
                    </a>
                </li>

            </ul>

            <div class="col-xs-5">
                <form class="navbar-form">
                    <input type="text" class="form-control" placeholder="Search..." style="width:100%;background:#76a7c0; color:#dee6eb; border:none; border-radius:0px;">

                </form>
            </div>
        </div>
    </div>
</div>