<div class="col-sm-12" style="padding-top:50px;">
    <div class="page-header">
        <h3>Project Name <small><img src="img/default_user.png" style="height:20px; width:20px;" /> Project manager - <a href="#"><i class="fa fa-pencil-square-o"></i> Edit Project Information</a> - <a href="#"><i class="fa fa-users"></i> Add members to project</a></small></h3>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading"><b>PR</b> <div style="float:right;"><img src="img/default_user.png" style="height:20px; width:20px;" /></div></div>
                <div class="panel-body" style="padding:0px;">
                    <div class="well well-sm" style="margin:0px; background:#fff;border-radius:0px;">Asasasaas <div style="float:right"><span class="badge">4</span></div><div><img src="img/default_user.png" style="height:20px; width:20px;" /></div></div>
                    <div class="well well-sm" style="margin:0px; background:#fff;border-radius:0px;">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                    <div class="well well-sm" style="margin:0px; background:#fff;border-radius:0px;">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                    <div class="well well-sm" style="margin:0px; background:#fff;border-radius:0px;">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                    <div class="well well-sm" style="margin:0px; background:#fff;border-radius:0px;">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                    <div class="well well-sm" style="margin:0px; background:#fff;border-radius:0px;">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                    <div class="well well-sm" style="margin:0px;"><a href="#"><i class="fa fa-tasks"></i> Add New task...</a></div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Organizare evenimente</b></div>
                <div class="panel-body" style="padding:0px;">
                    <div class="well well-sm" style="margin:0px; background:#fff;border-radius:0px;">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                    <div class="well well-sm" style="margin:0px; background:#fff;border-radius:0px;">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                    <div class="well well-sm" style="margin:0px; background:#fff;border-radius:0px;">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                    <div class="well well-sm" style="margin:0px; background:#fff;border-radius:0px;">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                    <div class="well well-sm" style="margin:0px; background:#fff;border-radius:0px;">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                    <div class="well well-sm" style="margin:0px; background:#fff;border-radius:0px;">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                    <div class="well well-sm" style="margin:0px; background:#fff;border-radius:0px;">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                    <div class="well well-sm" style="margin:0px;"><a href="#"><i class="fa fa-tasks"></i> Add New task...</a></div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="well well-sm" style="margin:0px"><a href="#">Add New board...</a></div>
        </div>
    </div>
</div>