<div menu-bar></div>

<div ng-repeat="pro in SingleProiect">
    <div project-menu></div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2 sidebar-pro" style="background-image:url('img/side_bg.png');">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-xs-8" style="padding-right:0px;">
                            <input class="form-control" style="width:100%;border-radius:0px;" placeholder="New List..." ng-model="list" />
                        </div>
                        <div class="col-xs-4" style="padding-left:0px;">
                            <a class="btn btn-bee" style="width:100%; border-radius:0px;" ng-click="newList(list,pro.ID_proiect)">Add</a>
                        </div>
                    </div>
                </div>
                <div class="list-group" style="border-radius:0px;" ui-sortable>
                    <a ng-click="goToAll()" style="cursor:pointer; border:none;" class="list-group-item"><b><i class="fa fa-list-ul"></i> All</b></a>
                    <a ng-repeat="activity in activities" ng-click="goToActivity(activity.nume_activitate)" style="cursor:pointer;border:none;" class="list-group-item">
                        <i class="fa fa-list-ul"></i> {{activity.nume_activitate}}
                        <span class="badge">{{howManyTasks(Tasks,activity.nume_activitate)}}</span>
                    </a>
                </div>

            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-xs-6" style="padding-right:0px;">
                                <input class="form-control" style="width:100%; border-radius:0px;" placeholder="New Task..." ng-model="taskName" />
                            </div>
                            <div class="col-xs-4" style="padding:0px;">
                                <select ng-model="taskActivity" ng-selected="search" ng-options="activity.nume_activitate for activity in activities track by activity.nume_activitate" class="form-control" style="width:100%; border-radius:0px;" ng-change="goToActivity(taskActivity.nume_activitate)">
                                    <option value="" ng-model="seach">-- Choose activity --</option>
                                </select>
                            </div>
                            <div class="col-xs-2" style="padding-left:0px;">
                                <a class="btn btn-bee" style="width:100%; border-radius:0px;" ng-click="addTask(taskName,taskActivity,pro.ID_proiect)">Add</a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Task</th>
                                <th>List</th>
                                <th width="70">Status</th>
                                <th width="70">Points</th>
                                <th width="70"></th>
                                <th width="70">

                                </th>
                            </tr>
                        </thead>
                        <tbody ui-sortable>
                            <tr ng-repeat="task in Tasks | filter:search">
                                <td><a ng-click="viewTask(task)" style="cursor:pointer;"><i class="fa fa-tasks"></i> {{task.titlu}}</a></td>
                                <td>{{task.nume_activitate}}</td>
                                <td width="70"><span class="label label-default">done</span></td>
                                <td width="70">{{task.punctaj_dificultate}}</td>
                                <td width="70"><a href="" class="btn btn-primary btn-xs">I volunteer!</a></td>
                                <td width="70">
                                    <a ng-click="viewTask(task)" style="cursor:pointer;" class="btn btn-link btn-xs"><i class="fa fa-pencil-square-o"></i></a>
                                    <a href="" class="btn btn-link btn-xs"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="col-sm-3">
                <script type="text/ng-template" id="customTemplate.html">
                    <a>
                        <img src="img/default_user.png" style="height:20px; width:20px;" />
                        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
                    </a>
                </script>
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-xs-8" style="padding-right:0px;">
                            <input type="text" style="width:100%; border-radius:0px;" ng-model="customSelected" placeholder="Add member ..." typeahead="member as member.nume_user+' '+member.prenume_user for member in members | filter:$viewValue" typeahead-template-url="customTemplate.html" class="form-control">
                        </div>
                        <div class="col-xs-4" style="padding-left:0px;">
                            <a class="btn btn-bee" style="width:100%; border-radius:0px;" ng-click="addMemberToProject(customSelected,pro.ID_proiect)">Add</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span ng-repeat="projMember in ProjectMembers" style="padding:2px;">
                            <img src="img/default_user.png" style="height:25px; width:25px;" tooltip-placement="top" tooltip="{{projMember.nume_user}} {{projMember.prenume_user}}" />
                        </span>
                    </div>
                </div>
                <b>Project Description</b>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{pro.descriere}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div task-dialog></div>