<nav class="navbar navbar-custom" role="navigation" style="margin-top:50px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/admin/project/{{pro.ID_proiect}}/" ng-model="pageTitle">
                {{pro.nume_proiect}}
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li ng-class="PageName =='Tasks' ? 'active' : ''"><a href="#/admin/project/{{pro.ID_proiect}}/">Tasks</a></li>
            <li ng-class="PageName =='Edit Project' ? 'active' : ''"><a href="#/admin/project/{{pro.ID_proiect}}/edit">Edit Project</a></li>
            <li><a href="#/admin/project/{{pro.ID_proiect}}/statistics">Statistics</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="img/default_user.png" style="height:20px; width:20px;" /> {{pro.nume_user}} {{pro.prenume_user}}
                </a>
            </div>
        </ul>
    </div>
</nav>
