<nav class="navbar navbar-custom" role="navigation" style="margin-top:50px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" ng-model="pageTitle">
                {{pro.nume_proiect}}
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Tasks <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Edit Project</a></li>
            <li><a href="#">Statistics</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="img/default_user.png" style="height:20px; width:20px;" /> {{pro.nume_user}} {{pro.prenume_user}}
                </a>
            </div>
        </ul>
    </div>
</nav>
