<div class="col-sm-12" style="color: #fff;" align="center">
    <div style="float:left">
        <img src="img/default_user.png" style="height:30px; width:30px;" class="img-rounded" />
        <button class="btn btn-primary">Nume Prenume</button>
    </div>
    <img src="img/logo.png" height="30" />
</div>
<div class="col-sm-12" style="color: #fff;">
    <div class="page-header project-header" style="margin-top:0px;">
        <h3>
            Project Name <small style="color:white;">
                <img src="img/default_user.png" style="height:20px; width:20px;" />
                Project manager
            </small>
        </h3>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading"><b style="color:#9c9c9c;">PR</b> <div style="float:right;"><img src="img/default_user.png" style="height:20px; width:20px;" /></div></div>
                        <div class="panel-body" style="padding:0px;background:#f5f5f5">
                            <div class="well well-sm task">Asasasaas <div style="float:right"><span class="badge">4</span></div><div><img src="img/default_user.png" style="height:20px; width:20px;" /></div></div>
                            <div class="well well-sm task">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                            <div class="well well-sm task">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                            <div class="well well-sm task">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                            <div class="well well-sm task">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                            <div class="well well-sm task">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                            <div class="well well-sm" style="margin:0px;border:none;"><a href="#"><i class="fa fa-tasks"></i> Add New task...</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading"><b style="color:#9c9c9c;">PR</b> <div style="float:right;"><img src="img/default_user.png" style="height:20px; width:20px;" /></div></div>
                        <div class="panel-body" style="padding:0px;background:#f5f5f5">
                            <div class="well well-sm task">Asasasaas <div style="float:right"><span class="badge">4</span></div><div><img src="img/default_user.png" style="height:20px; width:20px;" /></div></div>
                            <div class="well well-sm task">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                            <div class="well well-sm task">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                            <div class="well well-sm task">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                            <div class="well well-sm task">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                            <div class="well well-sm task">Asasasaas <div style="float:right"><span class="badge">4</span></div></div>
                            <div class="well well-sm" style="margin:0px;border:none;"><a href="#"><i class="fa fa-tasks"></i> Add New task...</a></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="well well-sm" style="margin:0px"><a href="#">Add New board...</a></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <b>Project Informations</b>
            <div class="panel panel-default">
                <div class="panel-body" style="padding:0px;">
                    <div class="list-group" style="margin:0px;">
                        <a href="#" class="list-group-item">Edit Project Information</a>
                        <a href="#" class="list-group-item">Reports</a>
                    </div>
                </div>
            </div>
            <b>Project Members</b>
            <div class="panel panel-default">
                <div class="panel-body">
                    <input class="form-control" placeholder="search members" />
                </div>
            </div>
        </div>
    </div>

</div>
