<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="#/admin/"><i class="fa fa-tachometer"></i> Dashboard</a></li>
        <li><a href="#/admin/members/" ng-click="getMembers()"><i class="fa fa-users"></i> Members</a></li>
        <li><a href="#"><i class="fa fa-bookmark"></i> Departaments</a></li>
        <li><a href="#"><i class="fa fa-check-square-o"></i> Meetings</a></li>
        <li><a href="#"><i class="fa fa-bullhorn"></i> Organization Profile</a></li>
    </ul>
</div>