<div class="col-sm-3 col-md-2 sidebar" style="background-color:#f6f6f6;">
    <ul class="nav nav-sidebar">
        <li ng-class="PageName =='Dashboard' ? 'active' : ''" style="border-bottom: 1px solid #ededed;"><a href="#/admin/"><i class="fa fa-tachometer"></i> Dashboard</a></li>
        <li ng-class="PageName =='Members' ? 'active' : ''" style="border-bottom: 1px solid #ededed;"><a href="#/admin/members/"><i class="fa fa-users"></i> Members</a></li>
        <li ng-class="PageName =='Meetings' ? 'active' : ''"><a href="#/admin/meetings/" style="border-bottom: 1px solid #ededed;"><i class="fa fa-check-square-o"></i> Meetings</a></li>
        <li ng-class="PageName =='Organization Profile' ? 'active' : ''"><a href="#" style="border-bottom: 1px solid #ededed;"><i class="fa fa-bullhorn"></i> Organization Profile</a></li>
    </ul>
</div>