si<div class="col-sm-3 col-md-2 sidebar" style="background-color:#f6f6f6;">
    <ul class="nav nav-sidebar">
        <li ng-class="PageName =='Dashboard' ? 'active' : ''" style="border-bottom: 1px solid #ededed;"><a href="#/admin/">Dashboard</a></li>
        <li ng-class="PageName =='Members' ? 'active' : ''" style="border-bottom: 1px solid #ededed;"><a href="#/admin/members/">Members</a></li>
        <li ng-class="PageName =='Meetings' ? 'active' : ''"><a href="#/admin/meetings/" style="border-bottom: 1px solid #ededed;">Meetings</a></li>
        <li ng-class="PageName =='Organization Profile' ? 'active' : ''"><a href="#/admin/organization/" style="border-bottom: 1px solid #ededed;">Organization Profile</a></li>
    </ul>
</div>