<script type="text/ng-template" id="TaskDialog.html">
    <p>
        Dificulty Points:


        <label class="label label-default" style="margin: 2px;">
            <a ng-click="addDif(1,task.ID_task,task)" style="cursor:pointer;color:white;">1</a>
        </label>
        <label class="label label-default" style="margin: 2px;">
            <a ng-click="addDif(2,task.ID_task,task)" style="cursor:pointer;color:white;">2</a>
        </label>
        <label class="label label-default" style="margin: 2px;">
            <a ng-click="addDif(3,task.ID_task,task)" style="cursor:pointer;color:white;">3</a>
        </label>
        <label class="label label-default" style="margin: 2px;">
            <a ng-click="addDif(5,task.ID_task,task)" style="cursor:pointer;color:white;">5</a>
        </label>
        <label class="label label-default" style="margin: 2px;">
            <a ng-click="addDif(8,task.ID_task,task)" style="cursor:pointer;color:white;">8</a>
        </label>
        <label class="label label-default" style="margin: 2px;">
            <a ng-click="addDif(12,task.ID_task,task)" style="cursor:pointer;color:white;">12</a>
        </label>

    </p>
    <div class="form-group">
        <input class="form-control" style="background:#f3f3f3; box-shadow:none; border:none;" value="{{task.titlu}}">
    </div>
    <div class="form-group">
        <input class="form-control" style="background:#f3f3f3; box-shadow:none; border:none;" value="{{task.nume_activitate}}">
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="3" style="background:#f3f3f3; box-shadow:none; border:none;" ng-model="TaskDescription" placeholder="Add Description..."></textarea>
    </div>
    <div>
        <div>
            <button class="btn btn-link"><i class="fa fa-trash"></i></button>
            <button class="btn btn-link">Set Status</button>
            <div style="float:right;">
                <button class="btn btn-primary btn-sm" ng-click="addDescription(TaskDescription,task.ID_task,task)">Save</button>
            </div>
        </div>
        
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <div style="height:120px; background:#428bca; color:#fff; padding:20px; border-radius:3px;" align="center">
                Dificulty:
                <h1>{{task.punctaj_dificultate}}</h1>
            </div>
        </div>
        <div class="col-sm-6">
            <div style="height:120px; background:#428bca; color:#fff; padding:20px; border-radius:3px;" align="center">
                Status:
                <h1>Done</h1>
            </div>
        </div>

    </div>

    <button class="btn btn-bee btn-lg" style="width:100%; margin-top:10px;">I VOLUNTEER</button>
</script>